.container {
  border-radius: 10px;
  width: 900px;
  height: 570px;
  background-image: url("../images/sky.png");
  background-size: contain;
  font-family: "Open Sans", sans-serif;
}

.clearfix {
  height: 570px;
  
}

h1 {
  padding-top: 20px;
  padding-right: 20px;
  font-size: 80px;
  color: #fde056;
  font-family: "Open Sans", sans-serif;
  display: inline-table;
}

#search-bar {
  padding-top: 30px;
  padding-left: 10px;
}

#location-search {
  width: 300px;
  height: 35px;
  color: #2b8c97;
  border-radius: 10px;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-style: none;
  padding-left: 10px;
}

#submit-button {
  background: transparent;
  border-style: none;
}

.search-icon {
  width: 50px;
  background: transparent;
}

#current-location-button {
  background: transparent;
  border-style: none;
}

.location-icon {
  width: 30px;
  background: transparent;
}

.container-main-details {
  margin-top: 40px;
  margin-left: 20px;
  border-width: 50%;
  padding: 20px;
  border-radius: 40px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  width: 300px;
  height: 220px;
  color: #2b8c97;
  display: inline-table;
}

h2 {
  text-align: center;
  font-weight: bolder;
}

h6,
#date {
  text-align: center;
  font-size: 16px;
}

#left-column {
  float: left;
  width: 50%;
  text-align: center;
}

.col-main-degree {
  font-size: 60px;
  font-weight: bold;
}

#right-column {
  float: right;
  width: 50%;
  text-align: center;
}

#main-icon {
  width: 90px;
  margin-bottom: 20px;
}

.column-metrics {
  margin-top: 20px;
  margin-left: 20px;
  border-width: 50%;
  border-radius: 40px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  width: 300px;
  height: 130px;
  line-height: 30px;
  display: inline-table;
  color: #2b8c97;
}

ul {
  padding-top: 20px;
  list-style: none;
  font-size: 20px;
}

#weather-type {
  text-transform: capitalize;
}

#right-column-week, .weekly-metrics {
  float: right;
}

.weekly-metrics {
  margin-top: 0px;
  padding-left: 40px;
  width: 500px;
  height: 400px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 30px;
  display: inline-table;

}

.row {
  font-size: 20px;
  color: #2b8c97;
  margin-top: 10px;
}

.col-day {
  margin-top: 10px;
  width: 30%;
}

.col-high {
  margin-top: 10px;
  width: 20%;
}

.col-low {
  margin-top: 10px;
  width: 20%;
}

.col-img {
  margin-top: 10px;
  width: 20%;
}

#table-image {
  width: 40px;
}
